/*RECURSOS*/

/*PALETA DE COLORES*/
:root{
    --primario : #033442;
    --secundario : #FCEEE7;
    --acento : #9DC26B;
    /*acento opt2 #C26B87*/
}

/*TIPOGRAFÍAS*/
@font-face{
    font-family: Poppins;
    src: url(../tipografia/Poppins/Poppins-Regular.ttf)
}

@font-face{
    font-family: Poppins_medium;
    src: url(../tipografia/Poppins/Poppins-Medium.ttf)
}

@font-face{
    font-family: Poppins_semiBold;
    src: url(../tipografia/Poppins/Poppins-SemiBold.ttf)
} 

@font-face{
    font-family: Poppins_bold;
    src: url(../tipografia/Poppins/Poppins-Bold.ttf)
} 

/*ESCALA TIPOGRÁFICA*/

h1 {
    font-size: 44.76px;
    color: var(--secundario);
}

h2 {
    font-size: 37.32px;
    color: var(--secundario);
}

h3 {
    font-size: 31.1px;
    color: var(--secundario);
    font-weight: normal;
}

h4 {
    font-size: 25.92px;
    color: var(--secundario);
    font-weight: normal;
}

h5 {
    font-size: 21.6px;
    color: var(--secundario);
    font-weight: normal;
}

h6 {
    font-size: 18px;
    color: var(--secundario);
    font-weight: normal;
}

p {
    font-size: 15px;
    color: var(--secundario);
}


/*ELEMENTOS DEL DOCUMENTO*/

/*RESETEO Y APLICAR TIPOGRAFÍA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/*HEADER*/

header{
    position: fixed;
    width: 100%;
    top: 0%;
    height: 95px;
    display: flex;
    flex: row;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

header h1{
    width: 115px; 
    background-image: url(../img/nahire.png);
    text-indent: -9999px;
    height: 53px;
}

header ul{
    list-style:none;
    display: flex;
    gap: 40px;
    justify-content: flex-start;
}

header ul li a{
    font-family: Poppins_medium;
    font-size: 15px;
    text-decoration: none;
    color: var(--secundario);
}

header ul li a:hover{
    color: var(--acento);
}


/*BOTONES*/

button{
    padding: 7px 14px;
    border-style: none;
    border-radius: 30px;
    font-family: Poppins_medium;
    text-decoration: none;
    border: 3px solid  var(--secundario);
    background-color: transparent;
}


button p{
    color: var(--secundario);
    font-family: Poppins_medium;
    font-size: 18px;
}

button:hover{
    padding: 7px 14px;
    border-style: none;
    background-color: var(--acento);
    border-radius: 30px;
    border: 3px solid  var(--acento);
    text-decoration: none;
}

button:hover p{
    color: var(--primario);
    font-family: Poppins_medium;
    font-size: 18px;
}



/*ELEMENTOS GENERALES*/
a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(236, 148, 12);
}

ul{
    list-style:none;
}

img{
    height: 500px;
    width: auto;
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-image: url(../img/textura_superponer.jpg);
    padding-top: 95px;
    min-height: 130vh;
    height: auto;
}

.contenedor .secciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.contenedor .secciones2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

  
/*////////////////// GUSTOS CULTURALES //////////////////////////*/


.cultura .contenedor{
    display: flex;
    padding-bottom: 0px;
}

.cultura .contenedor h2{
    display: flex;
    padding: 10px 70px 200px 70px;
    margin: auto;
}

.cultura .contenedor .secciones2{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 350px;
}

.cultura .contenedor .secciones2 li{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 130px;
}

.cultura .contenedor .secciones2 li div {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 650px;
}

.cultura .contenedor .secciones2 li figure img{
    width: 700px;
    height: auto;
}

.cultura .contenedor .secciones2 h2{
    padding: 60px;
    margin: auto;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// FAMILIA //////////////////////////*/

.familia .contenedor .secciones_familia{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
    margin: 0 auto;
}

.familia .contenedor .secciones_familia li{
    display: flex;
    flex-direction: column;
}

.familia .contenedor .secciones_familia h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// MÚSICA //////////////////////////*/

.musica .contenedor .secciones2{
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.musica .contenedor .secciones2 .lista_artistas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 80vh;
    width: 80%;
    margin-top: 50px;
}

.musica .contenedor .secciones2 .lista_artistas section{
    display: flex;
    flex-direction: column;
   height: 70vh; 
   
}

.musica .contenedor .secciones2 .lista_artistas section h3{
    padding-bottom: 20px;
    font-size: 44.76px;
    font-weight: bold;
    justify-content: center;
   align-items: center;
   margin: auto;
}

.musica .contenedor .secciones2 .lista_artistas section div{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.musica .contenedor .secciones2 .lista_artistas ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.musica .contenedor .secciones2 .lista_artistas ul li{
    display: flex;
    flex-direction: column;
    gap: px;
    margin: 0 auto;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.musica .contenedor .secciones2 .lista_artistas ul li p{
    color: var(--primario);
}

.musica .contenedor .secciones2 .lista_artistas ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.musica .contenedor .secciones2 .lista_artistas ul li a:hover{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 250px;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--primario), var(--acento));
    background-blend-mode: overlay;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat; 
    background-color: transparent;
}

.musica .contenedor .secciones2 .lista_artistas ul li a:hover p{
    color: var(--secundario);
}

.musica .contenedor .secciones2 .lista_artistas ul li a:hover p:hover{
    text-decoration: underline;
}

.musica .contenedor .secciones2 .secciones_canciones{
    width: 80%;
    padding-bottom: 0px;
 }

 .musica .contenedor .secciones2 .secciones_canciones .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
 }

 .musica .contenedor .secciones2 .secciones_canciones .texto h3{
    font-weight: bold;
 }

 .musica .contenedor .secciones2 .secciones_canciones nav{
    width: 100%;
 }

.musica .contenedor .secciones2 .secciones_canciones nav ul{
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 30px;
}

.musica .contenedor .secciones2 .secciones_canciones nav ul section{
    display: flex;
    gap: 15px;
}

.musica .contenedor .secciones2 .secciones_canciones nav ul section li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--acento);
    border-radius: 30px;
    width: 300px;
    height: 300px;
    padding: 10px;
}


.musica .contenedor .secciones2 .secciones_canciones nav ul section li button{
    margin-top: 30px;
}

.musica .contenedor .secciones2 .secciones_canciones nav ul section li:hover{
    background-color: #9DC26B;
    color: #033442;
}

.musica .contenedor .secciones2 .secciones_canciones nav ul section li:hover button{
    background-color: var(--secundario);
    border: 0 solid ;
}

.musica .contenedor .secciones2 .secciones_canciones nav ul section li:hover button p{
    color: #9DC26B;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// TAREAS //////////////////////////*/

.contenedor .secciones2_tareas{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.contenedor .secciones2_tareas .lista_tareas{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    align-items: center;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// INDEX //////////////////////////*/

#index .contenedor .secciones{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 40px;
}

#index .contenedor .secciones article h2{
    margin-bottom: 40px;
    font-size: 80px;
}

#index .contenedor .secciones article h4{
    margin-bottom: 10px;
}

#index .contenedor .secciones article p{
    width: 650px;
}


#index .contenedor .secciones figure{
    display: flex;
    height: 500px;
    margin: auto;
}

#index .contenedor .secciones figure img{
    margin: auto;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// MENÚS //////////////////////////*/
.menu .contenedor .secciones2_tareas{
    width: 85%;
    gap: 0px;
}

.menu .contenedor .secciones2_tareas h3{
    width: 100%;
    
    outline: 3px solid white;
    margin-bottom: 0;
    border-collapse: collapse;
    padding: 10px 20px;
}

.menu .contenedor .secciones2_tareas article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.menu .contenedor .secciones2_tareas article h4{
    margin-bottom: 100px;
}

.menu .contenedor .secciones2_tareas ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
    gap: 0;
}

.menu .contenedor .secciones2_tareas li{
    display: flex;
    flex-direction: column;
    outline: 3px solid white;
    width: 100%;
    height: 200px;
    padding: 10px 20px 25px 20px;
    justify-content: space-between;
    
}
.menu .contenedor .secciones2_tareas li a{
    display: flex;
    justify-content: right;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// AMISTADES //////////////////////////*/

.amistades .contenedor .secciones{
    gap: 150px;
    justify-content: center;
}

.amistades .contenedor .secciones article{
    width: 600px;
}

.amistades .contenedor .secciones article h2{
    margin-bottom: 30px;
}

.amistades .contenedor .secciones figure img{
    height: 450px;
}

/*///////////////////////////////////////////////////////////*/


/*////////////////// HOBBIES //////////////////////////*/

.hobbies .contenedor .secciones2{
    width: 80%;
}

.hobbies .contenedor .secciones2 h2{
    display: flex;
    padding: 400px 70px 600px 70px;
    margin: auto;
}

.hobbies .contenedor .secciones2 ul{
    display: flex;
    flex-direction: column;

}

.hobbies .contenedor .secciones2 ul li{
    display: flex;
    margin: auto;
    gap: 100px;
    padding-bottom: 300px;
}

.hobbies .contenedor .secciones2 ul li div{
    margin: auto;
}

.hobbies .contenedor .secciones2 ul li div figure img{
    height: 400px;
}

.hobbies .contenedor .secciones2 ul li div p{
    width: 600px;
}

.hobbies .contenedor .secciones2 ul section{
    display: flex;
    gap: 100px;
}

.hobbies .contenedor .secciones2 ul section li{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.hobbies .contenedor .secciones2 ul section li div{
    margin: 0  auto;
}


/*///////////////////////////////////////////////////////////*/

/*////////////////// FOOTER //////////////////////////*/
.contenedor footer{
    height: 250px;
    margin: 25px;
    margin-top: 200px;
}

.contenedor footer .contenedor_footer{
    background-color:var(--primario);
    width: 85%;
    display: flex;
    flex-direction: row;
    height: 250px;
    padding: 20px;
    margin: auto;
}

.contenedor footer .contenedor_footer h1{
    margin: auto;
    display: flex;
    padding: 0 50px 0 30px;
    width: 25%; 
    background-image: url(../img/nahire.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 53px; 
}

.contenedor footer .contenedor_footer ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 50px;
}

.contenedor footer .contenedor_footer ul li{
    display: flex;
    flex-direction: column;
}

.contenedor footer .contenedor_footer ul li h4{
    margin-bottom: 20px;
    
}

.contenedor footer .contenedor_footer ul li:nth-child(2) h4{
    text-indent: -9999px;
}

.contenedor footer .contenedor_footer ul li a{
    color: #FCEEE7;
    text-indent: 20px;
}

.contenedor footer .contenedor_footer ul li a:hover{
    color:#9DC26B;
}

/*///////////////////////////////////////////////////////////*/













