/*RECURSOS*/

/*PALETA DE COLORES*/
:root{
    --primario : #081C24;
    --secundario : #FCEEE7;
    --acento : #C8A4F9;
}

/*TIPOGRAFÍAS*/
@font-face{
    font-family: Poppins;
    src: url(../tipografia/Poppins/Poppins-Regular.ttf)
}

@font-face{
    font-family: Poppins_medium;
    src: url(../tipografia/Poppins/Poppins-Medium.ttf)
}

@font-face{
    font-family: Poppins_semiBold;
    src: url(../tipografia/Poppins/Poppins-SemiBold.ttf)
} 

@font-face{
    font-family: Poppins_bold;
    src: url(../tipografia/Poppins/Poppins-Bold.ttf)
} 

/*ESCALA TIPOGRÁFICA*/

h1 {
    font-size: 44.76px;
    color: var(--secundario);
}

h2 {
    font-size: 37.32px;
    color: var(--secundario);
}

h3 {
    font-size: 31.1px;
    color: var(--secundario);
}

h4 {
    font-size: 25.92px;
    color: var(--secundario);
}

h5 {
    font-size: 21.6px;
    color: var(--secundario);
}

h6 {
    font-size: 18px;
    color: var(--secundario);
}

p {
    font-size: 15px;
    color: var(--secundario);
}


/*ELEMENTOS DEL DOCUMENTO*/

/*RESETEO Y APLICAR TIPOGRAFÍA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/*HEADER*/

header{
    position: fixed;
    width: 100%;
    top: 0%;
    height: 95px;
    display: flex;
    flex: row;
    background-color:transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

header h1{
    width: 115px; 
    background-image: url(../img/nahire.png);
    text-indent: -9999px;
    height: 53px;
}

header ul{
    list-style:none;
    display: flex;
    gap: 40px;
    justify-content: flex-start;
}

header ul li a{
    font-family: Poppins_medium;
    font-size: 15px;
    text-decoration: none;
    color: var(--secundario);
}

header ul li a:hover{
    color: var(--acento);
}


/*BOTONES*/

button{
    padding: 7px 14px;
    border-style: none;
    background-color: var(--secundario);
    border-radius: 30px;
}

button a{
    
    font-family: Poppins_medium;
    text-decoration: none;
    color: var(--primario);
}

button:hover{
    padding: 7px 14px;
    border-style: none;
    background-color: var(--acento);
    border-radius: 30px;
}

button a:hover{
    
    font-family: Poppins_medium;
    text-decoration: none;
    color: var(--secundario);
}

/*ELEMENTOS GENERALES*/
a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(236, 148, 12);
}

ul{
    list-style:none;
}

img{
    height: 500px;
    width: auto;
}

.contenedor{
    display: flex;
    flex-direction: column;
    background-color: var(--primario);
    padding-top: 95px;
    min-height: 90vh;
    height: auto;
}

.contenedor .secciones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.contenedor .secciones2{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

/*FOOTER*/
footer{
    height: 250px;
    background-color:rgb(48, 28, 29);
}

footer .contenedor_footer{
    background-color:rgb(126, 9, 80);
    width: 85%;
    margin: auto;
    display: flex;
    height: 250px;
}
footer .contenedor_footer section{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

footer .contenedor_footer section:nth-child(1) section{
    display: block;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

footer .contenedor_footer section:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }
  
  footer .contenedor_footer section:nth-child(2) .secciooon {
    display: flex;
    flex-direction: row;
  }

  footer .contenedor_footer section a:hover {
    display: flex;
    flex-direction: row;
    color: rgb(196, 198, 0);
    text-decoration:underline;
  }
  
/*////////////////// GUSTOS CULTURALES //////////////////////////*/

.contenedor .secciones2 li{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.contenedor .secciones2 li div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contenedor .secciones2 h2{
    padding: 60px;
    margin: auto;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// FAMILIA //////////////////////////*/

.contenedor .secciones2 .lista_especial{
    display: flex;
    flex-direction: column;
}

.contenedor .secciones2 .lista_especial:nth-child(5){
    text-indent: -300px;
}

/*///////////////////////////////////////////////////////////*/

/*////////////////// MÚSICA //////////////////////////*/

.contenedor .secciones2 .lista_artistas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    width: 80%;
}

.contenedor .secciones2 .lista_artistas section{
    display: flex;
    flex-direction: column;
   height: 70vh;
   background-image: url(../img/musica.png) ;
   background-size: contain;
   background-blend-mode: overlay;
   background-repeat: no-repeat;  
   align-items: flex-end;
   background-position: left, left;
}

.contenedor .secciones2 .lista_artistas section h2{
    padding: 0px;
    color: black;
}

.contenedor .secciones2 .lista_artistas ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor .secciones2 .lista_artistas ul li{
    display: flex;
    flex-direction: column;
    gap: px;
    margin: 0 auto;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor .secciones2 .lista_artistas ul li p{
    color: #081C24;
}

.contenedor .secciones2 .lista_artistas ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.contenedor .secciones2 .lista_artistas ul li a:hover{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 350px;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--primario), var(--acento));
    background-blend-mode: overlay;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat; 
    background-color: transparent;
}

.contenedor .secciones2 .lista_artistas ul li a:hover p:hover{
    text-decoration: underline;
}

/*///////////////////////////////////////////////////////////*/

.contenedor .secciones .subsecciones .subsec1{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contenedor .secciones .subsecciones .subsec1 h2{
    margin-bottom: 10px;
}

.contenedor .secciones .subsecciones .imagen{
    width: 50%;
}

.contenedor .secciones .subsecciones .imagen img{
    width: 100%;
}

/*ESTILOS HOBBIES*/


.contenedor .secciones .subsecciones .subsec1_hobbies{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contenedor .secciones .subsecciones .subsec1_hobbies p{
    height: 120px;
}

.contenedor .secciones .subsecciones .subsec1_hobbies img{
    width: 100%;
    margin-top: 30px;
}

/*ESTILOS MÚSICA*/

.contenedor .secciones .subsecciones .subsec1_musica1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 100px;
}

.contenedor .secciones .subsecciones .subsecciones_mus2{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contenedor .secciones .subsecciones .subsecciones_mus3{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedor .secciones .subsecciones .subsecciones_mus3 h3{
    text-align: center;
}

.contenedor .secciones .subsecciones .subsecciones_mus3 img{
    height: 250px;
    margin-top: 15px;
}

.contenedor .secciones .subsec1_musica2{
    background-color:rgb(67, 18, 63) ;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.contenedor .secciones .subsecciones .subsec1_musica1 .subsec1mus_ button{
    margin-top: 10px;
    margin-left: 10px;
}

/*MENU*/

.contenedor .secciones .subsecciones .subsec1_menu button{
    width: auto;
    height: auto;
    padding:5px 10px;
}

.contenedor .secciones .subsecciones .subsec1_menu {
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 100px;
}

.contenedor .secciones .subsecciones .subsec1_menu section{
    display: flex;
    gap: 20px;
    
}









